<head>
  <title>Mirror</title>
</head>

<template name="mainLayout">
    <header>
        <!-- {{> headerNav}} -->
    </header>
    <main>
        <div class="container">
        {{#if isAwake}}
            {{#transition in="bounceInRight" out="bounceOutRight"}}
                {{> Template.dynamic template=page}}
            {{/transition}}
        {{else}}
            <!-- Display glowing logo -->
            <img src="/images/logo.jpg" class="center_logo_blink">
        {{/if}}
        </div>
    </main>
    <footer>
        <!-- {{> footer}} -->
    </footer>
</template>